
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    width: 100%;
    /* margin: 0 auto; */
    height: 100vh;
}

header {
    text-align: center;
    border: 5px solid darkblue;
    background-color: darkcyan;
    color: white;
}

